/* tags selectors section */
body {
  margin: 0;
  padding: 0;
  font-family: roboto, 
}

/* id selectors section  */

#hero-section, footer {
  background-color: #1F2937;
}

/* class selectors sections */

.nav-section {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}
.nav-header, .hero-content, .projects-section-content, .testimonies-content, .contact-me-content {
  width: 800px;
  margin: 0 auto;
}
.nav-link, .hero-subtitle {
  font-size: 18px;
  color: #E5E7EB;
}

.nav-link a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.hero-content {
  display: flex;
}

.hero-image img {
  width: 250px;
  border-radius: 80% 25% 80% 25%;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logo, .hero-title {
  color: #F9FAF8;
  font-size: 24px;
  margin-right: auto;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.btn {
  width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
}

.copyright {
  color: #F9FAF8;
  text-align: center;
  padding: 2rem;
}