/* tags selectors section */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  max-height: 100vh;
}

/* id selectors section  */

#hero-section,
footer {
  background-color: #1F2937;
}

#hero-section {
  padding: 2rem 0;
}

#projects-section {
  padding: 2rem 0 4rem;
}

#about-me {
  background-color: #E5E7EB;
}

#contact-me {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
}

/* class selectors sections */

.nav-section {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}

.nav-header,
.hero-content,
.projects-section-content,
.about-me-content,
.contact-me-content {
  width: 70%;
  margin: 0 auto;
}

.nav-link,
.hero-subtitle {
  font-size: 18px;
  color: #E5E7EB;
}

.nav-link a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.hero-image img {
  width: 300px;
  border-radius: 80% 25% 80% 25%;
  margin-left: auto;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logo,
.hero-title {
  color: #F9FAF8;
  font-size: 24px;
  margin-right: auto;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.btn {
  width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
}

.btn:hover {
  background-color: #0848ad;
}

.projects-section-content {
  text-align: center;
  flex: auto;
}

.project-heading,
.about-me-heading {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
}

.project-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}


.project-link img {
  width: 100px;
  height: 100px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.about-me-heading {
  padding: 3rem 0 0;
}

.about-me-destription {
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  padding: 0 0 2rem 0;
}

.contact-me-content {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 5px;
  padding: 2rem 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
}


.contact-heading>p {
  color: #E5E7EB;
}

.contact-heading {
  flex-grow: 4;
}

.contact-me-content>.btn {
  border: 2px solid #F9FAF8;
  height: 45px;
  margin: auto;
  flex-grow: 1;
  flex-basis: 70px;
  align-items: flex-end;
}

.copyright {
  color: #F9FAF8;
  text-align: center;
  padding: 2rem 0;
}